@import "../../styles/variables";

.#{$ns}-button {
    display: flex;
    padding: 0.6875rem 1.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    // text button
    color: $primary-color;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    text-decoration: none;
    // style for buttonType = NONE
    background-color: white;
    color: $primary-color;
    border: 1px solid $stroke-color;
    &:hover {
        background: $light-grey3;
    }

    &:active {
        background: $light-grey2;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.#{$ns}-button--left-icon {
    padding-left: 0.6875rem;
}

.#{$ns}-button--right-icon {
    padding-right: 0.6875rem;
}

.#{$ns}-button--primary {
    background-color: $primary-color;
    color: white;
    border: none;

    &:hover {
        background: $primary3-color;
    }

    &:active {
        background: $primary2-color;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.#{$ns}-button--secondary {
    border: 1px solid $primary-color;
}

.#{$ns}-button--tertiary {
    padding: 0.6875rem 1.25rem;
    background-color: $light-grey;
    color: $primary-color;
    border: 1px solid $stroke-color;

    &.#{$ns}-button--left-icon {
        padding-left: 0.6875rem;
    }
    
    &.#{$ns}-button--right-icon {
        padding-right: 0.6875rem;
    }
    

    &:hover {
        background: $tertiary-btn-hover-bg;
    }

    &:active {
        background: $tertiary-btn-active-bg;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.#{$ns}-button--text {
    padding: 0.25rem;
    border: none;

    &:hover {
        background-color: transparent;
        color: $primary3-color;
    }

    &:active {
        background: transparent;
        color: $primary2-color;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}